    @model app_babybay.Models.Produto

@{
	ViewData["Title"] = "Menu Produto";
}

<link rel="stylesheet" href="~/css/style-menu-produto.css">

    <div class="div-titulo-cadastro">
        <h2>@Model.Nome</h2>
    </div>

    <section class="section-c"> 
        <div class="section-c__div">            
            <article class="article-c">
                <ul class="article-c__ul">
                    <div class = "sec_tab">                        
                        <img src="~/img/roupa3.png" alt="href='https://br.freepik.com/fotos-vetores-gratis/toddler'>Toddler foto criado por fabrikasimf - br.freepik.com">
                        <table>
                            <tr>
                                <th>
                                    Sua roupa:
                                </th>
                                <td>
                                    @Model.Nome
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Descrição:
                                </th>
                                <td>
                                   @Model.Descricao
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Idade:
                                </th>
                                <td>
                                  @Model.Idade Anos
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Categoria:
                                </th>
                                <td>
                                   @Model.Categoria
                                </td>
                            </tr>
                            
                            <tr>
                        </table>
                    </div>
                    <div class="botoess">
                    
                        <a class="input__busca--botao" asp-controller="Usuarios" asp-action="RedirecionarMenu">Voltar</a>
                        <a class="input__busca--botao" asp-controller="Produtos" asp-action="Delete" asp-route-id="@Model.Id">Excluir Roupa</a>
                        <a class="input__busca--botao" asp-controller="Produtos" asp-action="Edit" asp-route-id="@Model.Id">Editar Roupa</a>                                                                                  
                        <a class="input__busca--botao-anunciar" asp-controller="Anuncios" asp-action="Create" asp-route-id="@Model.Id">Anunciar</a>
                    </div>
                </ul>
            </article> <!-- .container-principal__article--dois-->
        </div>
    </section>



<!--
.bloco-principal { padding:15px; }
.bloco-principal__artigo { max-width:600px; }
.bloco-principal__artigo--fundo-cinza { background: #c9c9c9; }
-->


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
