@model IEnumerable<app_babybay.Models.Carteira>

@{
	ViewData["Title"] = "Minha Carteira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h3>Carteira de @User.Identity.Name</h3>*@

<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/CompraConfirmada.css">
    
     
    <title>BabyBay</title>
</head>
<body>
  
<main>
    <div class="div-confirmacompra">
        <h1>Confirmação de compra</h1>
    </div>
        <div class="section-c">
            <li>
                <img src="../img/coin.png" alt="coin">  
            </li>
            <li>
            <h3>Você optou pela compra do pacote Light (12 BabyCoins por R$ 30,00). Para efetuar o pagamento, realize transferência bancária ou PIX para o seguinte destinatário:</h3>  
            </li> 
            <li>
                <h5>
                    CNPJ: 11.111.111.0001/49 (BANCO X ou MERCADO PAGO)
                    Banco: 111 - BANCO X S.A
                    Agência: 11111111-1
                    (BabyBay Empreendimentos)
                </h5>
            </li>
           <li>
            <h3>Após realização do pagamento, enviar comprovante para o e-mail financeiro@babybay.com para que seu saldo seja liberado em até 3 dias úteis.</h3>
           </li>
            <div class="retornar">
                <li>
                    <p>
                         <a href="tela-menu.html">Retornar</a>
                    </p>
                </li>
            </div>
        </div>
        

</main>


</body>

</html>
                
                

		@*@foreach (var item in Model)
		{
			if (User.Identity.Name == item.Usuario.Nome)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Usuario.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Saldo)
					</td>
					<td>
						<h4>Digite a quantidade de BabyCoins a serem adiciondos</h4>
						@using (Html.BeginForm("Depositar", "Carteiras", FormMethod.Post))
						{
							<div style="display:block;padding:15px">@Html.TextBox("Deposito")</div>
							<input class="btn btn-primary" type="submit" value="Depositar baby coin" asp-action="Depositar" asp-controller="Carteiras" asp-route-id="@item.Id" />
						}

						<h3>@ViewBag.Message</h3>
						<div>
							<a role="button" class="btn btn-primary" asp-controller="Usuarios" asp-action="Details" asp-route-id="@item.Id">Voltar</a>
						</div>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

*@


