@model IEnumerable<app_babybay.Models.Carteira>

@{
	ViewData["Title"] = "Minha Carteira";
}

<h3>Carteira de @User.Identity.Name</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Usuario)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Saldo)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			if (User.Identity.Name == item.Usuario.Nome)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Usuario.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Saldo)
					</td>
					<td>
						<h4>Digite a quantidade de BabyCoins a serem adiciondos</h4>
						@using (Html.BeginForm("Depositar", "Carteiras", FormMethod.Post))
						{
							<div style="display:block;padding:15px">@Html.TextBox("Deposito")</div>
							<input class="btn btn-primary" type="submit" value="Depositar baby coin" asp-action="Depositar" asp-controller="Carteiras" asp-route-id="@item.Id" />
						}

						<h3>@ViewBag.Message</h3>
						<div>
							<a role="button" class="btn btn-primary" asp-controller="Usuarios" asp-action="Details" asp-route-id="@item.Id">Voltar</a>
						</div>
					</td>
				</tr>
			}
		}
	</tbody>
</table>



