@model IEnumerable<app_babybay.Models.Carteira>

@{
	ViewData["Title"] = "Minha Carteira";
}

<h3>Minha Carteira</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Usuario)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Saldo)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			if (User.Identity.Name == item.Usuario.Nome)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Usuario.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Saldo)
					</td>
					<td>
						@*     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
						<div>
							<a role="button" class="btn btn-primary" asp-controller="Usuarios" asp-action="Details" asp-route-id="@item.Id">Voltar</a>
						</div>
					</td>
				</tr>
			}
		}
	</tbody>
</table>



