@model IEnumerable<app_babybay.Models.Carteira>

@{
	ViewData["Title"] = "Minha Carteira";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
<link rel="stylesheet" href="~/css/Carteira.css">


<title>BabyBay</title>


@foreach (var item in Model)
{
	if (User.Identity.Name == item.Usuario.Nome)
	{
		<main>
			<div class="div-comprababycoin">
				<h3>
					<br>
					Olá @User.Identity.Name, o saldo da sua carteira é de <strong>@item.Saldo Babycoins.</strong>
					<br>					
				</h3>

			</div>
			<h3>Sem roupas para postar? Sem problemas! Compre BabyCoins e receba o saldo em sua carteira em até 2 dias úteis*.</h3>
			<div class="section-c">
				<div class="card-white">
					<h3>3 BabyCoins por R$ 10</h3>
					<img src="~/img/coin.png" alt="coin">
					<li>
						<a role="button" asp-action="Deposita10" asp-controller="Carteiras" asp-route-id="@item.Id" class="btn btn-primary">Light</a>
					</li>
				</div>
				<div class="card-white">
					<h3>6 BabyCoins por R$ 20</h3>
					<img src="~/img/coin.png" alt="coin">
					<li>
						<a role="button" asp-action="Deposita20" asp-controller="Carteiras" value="VIP" asp-route-id="@item.Id" class="btn btn-primary">Standard</a>
					</li>
				</div>
				<div class="card-white">
					<h3>12 BabyCoins por R$ 30</h3>
					<img src="~/img/coin.png" alt="coin">
					<li>
						<a role="button" asp-action="Deposita30" asp-controller="Carteiras" value="VIP" asp-route-id="@item.Id" class="btn btn-primary">VIP</a>
					</li>
				</div>
			</div>
			<li>
				<h4>*O pagamento é feito por transferência bancária ou PIX, devendo o comprovante ser enviado por e-mail para financeiro@babybay.com para que seu saldo seja liberado em até 3 dias úteis.</h4>
				<br>
			</li>

			<li>
				<p>
					<a asp-action="Index" asp-controller="Usuarios" class="btn-excluir">Voltar</a>
				</p>
			</li>

		</main>
	}
}




@*@foreach (var item in Model)
		{
			if (User.Identity.Name == item.Usuario.Nome)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Usuario.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Saldo)
					</td>
					<td>
						<h4>Digite a quantidade de BabyCoins a serem adiciondos</h4>
						@using (Html.BeginForm("Depositar", "Carteiras", FormMethod.Post))
						{
							<div style="display:block;padding:15px">@Html.TextBox("Deposito")</div>
							<input class="btn btn-primary" type="submit" value="Depositar baby coin" asp-action="Depositar" asp-controller="Carteiras" asp-route-id="@item.Id" />
						}

						<h3>@ViewBag.Message</h3>
						<div>
							<a role="button" class="btn btn-primary" asp-controller="Usuarios" asp-action="Details" asp-route-id="@item.Id">Voltar</a>
						</div>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

*@

