@model IEnumerable<app_babybay.Models.Carteira>

@{
	ViewData["Title"] = "Minha Carteira";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h3>Carteira de @User.Identity.Name</h3>*@

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/Carteira.css">
    
    <title>BabyBay</title>
</head>

<body>  

<main>
    <div class="div-comprababycoin">
        <h1>Compra de BabyCoins</h1>
    </div>
    <h3>Sem peças para postar em troca de BabyCoins? Sem problema! Compre mais e receba o saldo em sua carteira em até 3 dias úteis*.</h3>
        <div class="section-c"> 
            <div class="card-white">
                <h3>3 BabyCoins por R$ 10</h3>
                <img src="~/img/coin.png" alt="coin">
                <li>
                    <input type="submit" value="Light" id="btn-confirmar" >       
                </li>        
            </div>
            <div class="card-white">
                <h3>6 BabyCoins por R$ 20</h3>
                <img src="~/img/coin.png" alt="coin">
                <li>
                    <input type="submit" value="Standard" id="btn-confirmar">       
                </li>        
            </div>
            <div class="card-white">
                <h3>12 BabyCoins por R$ 30</h3>
                <img src="~/img/coin.png" alt="coin">
                <li>
                    <input type="submit" value="VIP" id="btn-confirmar">       
                </li>            
            </div>
        </div>
    <li>
        <h3>O pagamento é feito por transferência bancária ou PIX, devendo o comprovante ser enviado por e-mail para financeiro@babybay.com para que seu saldo seja liberado em até 3 dias úteis.</h3>
    </li>
        <div class="retornar">
    <li>
        <p>
            <a asp-action="Index" asp-controller="Usuarios" class="btn btn-primary">Retornar</a>
        </p>
    </li>

</main>



</body>

</html>
                

		@*@foreach (var item in Model)
		{
			if (User.Identity.Name == item.Usuario.Nome)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Usuario.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Saldo)
					</td>
					<td>
						<h4>Digite a quantidade de BabyCoins a serem adiciondos</h4>
						@using (Html.BeginForm("Depositar", "Carteiras", FormMethod.Post))
						{
							<div style="display:block;padding:15px">@Html.TextBox("Deposito")</div>
							<input class="btn btn-primary" type="submit" value="Depositar baby coin" asp-action="Depositar" asp-controller="Carteiras" asp-route-id="@item.Id" />
						}

						<h3>@ViewBag.Message</h3>
						<div>
							<a role="button" class="btn btn-primary" asp-controller="Usuarios" asp-action="Details" asp-route-id="@item.Id">Voltar</a>
						</div>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

*@

