@model IEnumerable<app_babybay.Models.Suporte>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Minhas reclamações</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dono do Anúncio
            </th>
            <th>
                Motivo da reclamação
            </th>
            <th>
                Resposta do suporte
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio)
            </th>
            <th>
                Data da denúncia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anuncio.Usuario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReclamacaoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoSuporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anuncio.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Index"asp-controller="Usuarios"class="btn btn-primary" asp-route-id="@item.Id">Retornar a página inicial</a>
                 @*<a asp-action="Edit" asp-route-id="@item.Id">Editar Denuncia</a> |
               <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
