@model app_babybay.Models.GuardaRoupa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GuardaRoupa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QntdProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QntdProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoFavorito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoFavorito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.Cor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
