@model IEnumerable<app_babybay.Models.GuardaRoupa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QntdProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoFavorito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QntdProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoFavorito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Cor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
