@model app_babybay.Models.Usuario

@{
    ViewData["Title"] = "Minha Conta";
}

@*<h1>Minha Conta</h1>*@
<link rel="stylesheet" href="~/css/Detalhes-usuario.css">



    <div class="div-titulo-cadastro">
        <h2>Detalhes da sua Conta</h2>
    </div>

    <section class="section-c">
        <div class="section-c__div">
            <article class="article-c">
                <ul class="article-c__ul">
                    <div class="sec_tab">
                        <table>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome):
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Nome)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataNascimento):
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.DataNascimento)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cpf):
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Cpf)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefone):
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Telefone)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Rua):
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Rua)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bairro):
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Bairro)
                                </td>
                            </tr>


                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cidade):
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Cidade)

                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado):
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Estado)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email):
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Email)
                                </td>
                            </tr>
                            <tr>
                        </table>
                    </div>
                    <div class="botoess">

                        <a class="input__busca--botao" asp-controller="Carteiras" asp-action="Index" asp-route-id="@Model.Id">Carteira</a>
                        <a class="input__busca--botao" asp-controller="Usuarios" asp-action="Edit" asp-route-id="@Model.Id">Atualizar dados</a>

                        <a class="input__busca--botao-excluir-conta" asp-controller="Usuarios" asp-action="Delete" asp-route-id="@Model.Id">Excluir conta</a>



                    </div>
                   <div class='bt-retornar'>
                        <a class="input__retornar--botao" asp-controller="Usuarios" asp-action="Index" asp-route-id="@Model.Id">Retornar</a>
                       </div>
                </ul>
            </article> <!-- .container-principal__article--dois-->
        </div>
    </section>
