@model IEnumerable<app_babybay.Models.Usuario>


@{
	ViewData["Title"] = "Index";
}

<h2>Menu do Usuário</h2>
<hr>

<table class="table">
	<tbody>
		@foreach (var item in Model)
		{
			if (User.Identity.Name == item.Nome)
			{
				<tr>
					<td style="display:flex;flex-direction:row">
						<a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Minha Conta</a> |
						<a asp-action="Relatorio" class="btn btn-primary" asp-route-id="@item.Id">Minhas Roupas</a>|
						<a asp-action="Index"  asp-controller="Carteiras"  class="btn btn-primary" asp-route-id="@item.Id">Minha carteira</a>|
						<a asp-controller="Produtos" class="btn btn-primary" asp-action="Create">Cadastrar Roupa</a> |     <a asp-action="Index" asp-controller="Produtos" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar Produtos</a> |
						<a asp-action="Index" asp-controller="Anuncios"  class="btn btn-primary" asp-route-id="@item.Id">Meus Anúncios</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
