@model app_babybay.Models.Usuario

@{
	ViewData["Title"] = "Meu Guarda-Roupas";
}

<h1>Meu Guarda roupa</h1>

<div>
	<hr />
	<table class="table">
		<thead>
			<tr>
				<th>
					Nome
				</th>
				<th>
					Cor
				</th>
				<th>
					Idade
				</th>
				<th>
					Tamanho
				</th>
				<th>
					Tempo de Uso
				</th>
				<th>
					Descrição
				</th>
				<th>
					Categoria
				</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Produtos)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Cor)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Idade)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Tamanho)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TempoUso)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Descricao)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Categoria)
					</td>
					<td>
						<a class="btn btn-primary" asp-controller="Anuncios" asp-action="Create" asp-route-id="@item.Id">Anunciar</a>						
						<a style = "margin-top: 10px" asp-action="Edit" asp-controller="Produtos" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar Produto</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		<a asp-controller="Produtos" class="btn btn-primary" asp-action="Create">Cadastrar Roupa</a>|
		<a asp-action="Index" asp-controller="Anuncios" class="btn btn-primary" asp-route-id="@Model.Id">Meus Anúncios</a>|

	</div>
</div>
<div>
	<br>
	<a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
