@model app_babybay.Models.Anuncio

@{
	ViewData["Title"] = "AceitarTroca";
}


<link rel="stylesheet" href="~/css/style-visualizar-troca.css">
<div class="div-titulo-cadastro">
	<h2>Troca Finalizada</h2>
</div>
<div class="div-frase">
	<h4>Parabéns @Model.Usuario.Nome, sua troca foi realizada com sucesso!</h4>
</div>

<section class="section-c">
	<div class="section-c__div">
		<article class="article-c">
			<ul class="article-c__ul">
				<div class=sec_tab>
					<table>
						<tr>
							<th>
								Roupa enviada:
							</th>
							<td>
								@Html.DisplayFor(model => model.Produto.Nome)
							</td>
						</tr>
						<tr>
							@if (Model.PropostaProdutoTroca != null)
							{
								<th>
									Roupa recebida:
								</th>
								<td>
									@Html.DisplayFor(model => model.PropostaProdutoTroca)
								</td>
							}
							else
							{
								<th>
									Valor Recebido:
								</th>
								<td>
									@Html.DisplayFor(model => model.Babycoin) BabyCoins
								</td>
							}
						<tr>
							<th>
								Date:
							</th>
							<td>
									@Html.DisplayFor(model => model.Date)
							</td>
						</tr>
					</table>
				</div>
				<div class="botoess">

					<a class="input__busca--botao" asp-controller="Usuarios" asp-action="RedirecionarMenu">Voltar para Menu</a>
				</div>
			</ul>
		</article> <!-- .container-principal__article--dois-->
	</div>
</section>

