@model IEnumerable<app_babybay.Models.Anuncio>

@{
	ViewData["Title"] = "Busca";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Ver uma forma de renderizar-->
<link rel="stylesheet" href="~/css/template-page-index.css">	<!--Cod copiado de home/index -->
<div class="container">
	<section>
		<article class="article-busca">
			<div class="article__busca--contorno">
				<div class="menu-busca">
					<input class="input__busca" type="search" name="input-buscar" id="input-buscar"
						   placeholder="Busque uma roupa"> <!-- .input__busca-->
					@using (Html.BeginForm("Busca", "Anuncios", FormMethod.Post))
					{
						<h2>Nome do produto</h2>
						@Html.TextBox("Produto")

						<h2>Idade</h2>
						@Html.TextBox("Idade")

						<h2>Categoria</h2>
						@Html.DropDownList("Categoria",
					new SelectList(Enum.GetValues(typeof(Categoria))),
					"Selecione",
					new {@class = "form-control"})
						<input class="input__busca--botao" type="submit" value="Buscar" />
					}
				</div> <!-- .menu__busca -->
			</div> <!-- .article__busca--contorno-->
		</article> <!-- .article-busca -->
	</section>
</div><!--Cod copiado de home/index -->

<section>
	<table class="table">
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.AnuncioId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Titulo)
					</td>
				@*	<td>
						@Html.DisplayFor(modelItem => item.Produto.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Produto.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Produto.Idade)
					</td>*@
					<td>
						<a asp-controller="Trocas" asp-action="Create" class="btn btn-primary">Eu quero!</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</section>



			@*foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.AnuncioId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Titulo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Idade)
					</td>
				</tr>
			}*@