@model IEnumerable<app_babybay.Models.Anuncio>

@{
	ViewData["Title"] = "Busca";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Ver uma forma de renderizar-->
<link rel="stylesheet" href="~/css/template-page-index.css">	<!--Cod copiado de home/index -->
@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
@*<link rel="stylesheet" href="~/css/style-busca.css">*@


<div class="container">
	<section>
		<article class="article-busca">
			<div class="article__busca--contorno">
				<div class="menu-busca">
					@*<input class="input__busca" type="search" name="input-buscar" id="input-buscar"
					placeholder="Busque uma roupa"> <!-- .input__busca-->*@
					@using (Html.BeginForm("Busca", "Anuncios", FormMethod.Post))
					{
						@*<h2>Nome do produto</h2>	*@
						@Html.TextBox("nomeProduto")

						//<h6>Idade</h6>
						List<int> listaIdade = new List<int>();
						for (int i = 0; i < 14; i++)
						{
							listaIdade.Add(i);
						}
						ViewData["ListaIdade"] = new SelectList(listaIdade);

						@Html.DropDownList("idadeProduto",
					(IEnumerable<SelectListItem>)ViewBag.listaIdade, "Idade",
					new { @class = "input__selected" })

						//<h6>Categoria</h6>
						@Html.DropDownList("Categoria",
					new SelectList(Enum.GetValues(typeof(Categoria))),
					"Selecione",
					new {@class = "input__selected"})
						<input class="input__busca--botao" type="submit" value="Buscar" />
					}
				</div> <!-- .menu__busca -->
			</div> <!-- .article__busca--contorno-->
		</article> <!-- .article-busca -->
	</section>
</div><!--Cod copiado de home/index -->
<section>
	<table class="table">
		<tbody>
			@foreach (var item in Model)
			{



				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.AnuncioId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Titulo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UsuarioId)
					</td>
					<td>
						<a asp-controller="Anuncios" asp-action="Details" asp-route-id="@item.AnuncioId" class="btn btn-primary">Eu Quero!</a>
						<a asp-controller="Suportes" asp-action="Create" asp-route-id="@item.AnuncioId" class="btn btn-primary">Denunciar</a>

					</td>
				</tr>

			}
		</tbody>
	</table>
</section>








@*<section>
	<table class="table">
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.AnuncioId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Titulo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UsuarioId)
					</td>
					<td>
						<a asp-controller="Anuncios" asp-action="Details" asp-route-id="@item.AnuncioId" class="btn btn-primary">Eu Quero!</a>
						<a asp-controller="Suportes" asp-action="Create" asp-route-id="@item.AnuncioId" class="btn btn-primary">Denunciar</a>

					</td>
				</tr>
			}
		</tbody>
	</table>

</section>
*@


@*

<section>
	@foreach (var item in Model)
	{
		<div class="container-md-item">
			<div class="d-flex flex-wrap">
				<div class="card m-3" style="width: 18rem;">
					<!--card-->
					<img src="../img/roupa2.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="container space-between">
							<div class="row d-flex justify-content-between">
								<div class="card-text col text-left">
									<p>@Html.DisplayFor(modelItem => item.Produto.Nome)</p>
									<p class="small">@Html.DisplayFor(modelItem => item.Produto.Descricao)</p>
								</div>

							</div><!--row-->
							<div class="row d-flex justify-content-between">
								<div class="price text-left">@Html.DisplayFor(modelItem => item.Babycoin) bc</div>
								<a asp-controller="Anuncios" asp-action="Details" asp-route-id="@item.AnuncioId" class="btn btn-light">Eu quero!</a>
								<a asp-controller="Suportes" asp-action="Create" asp-route-id="@item.AnuncioId" class="btn btn-light">Denunciar</a>
							</div>
						</div><!--container-->
					</div>
				</div>
			</div><!--cards-->
		</div>
	}
</section>
*@