@model app_babybay.Models.Anuncio

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
	  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="~/css/style-eu-quero.css">
<link rel="stylesheet" href="~/css/template-style.css">
<link rel="stylesheet" href="~/css/card-style.css">

<!-- View de Troca -->
<section>
	@*	<table class="table">
	<tbody>*@
	<!--content-->
	<div class="container">
		<h2 class="text-center p-5 titulo">@Html.DisplayFor(model => model.Titulo)</h2>
		<div class="d-flex justify-content-evenly">
			<div class="card">
				<!--Imagem-->
				<img class="card-image" src="../img/roupa2.jpeg">
				<div class="card-infos">
					<div class="card-description">
						<h2>@Html.DisplayFor(model => model.Produto.Nome)</h2>
						<p>@Html.DisplayFor(model => model.Produto.Cor)</p>
						<p>@Html.DisplayFor(model => model.Produto.Descricao)</p>
						<p class="idade">@Html.DisplayFor(model => model.Produto.Idade) Ano</p>
					</div>
					<div class="card-price">
						<h2>1 BC</h2>
					</div>
				</div>
			</div><!--.card--> <!--Imagem-->
			<div class="item">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
					<label class="form-check-label" for="flexRadioDefault1">
						<h5>Utilizar meus babycoins</h5>
					</label>
				</div>
				<div class="form-check">
					<br>
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
					<label class="form-check-label" for="flexRadioDefault2">
						<h5>Sugerir troca</h5>
					</label>
				</div>
				<div class="input-group">
						<!-- Aqui tem que mostrar somente os anúncios do usuário logado-->
						<select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" asp-for="Titulo" class="form-control" asp-items="ViewBag.AnuncioId" >
					}
						
						@*<select asp-for="Produto" class="form-control" asp-items="ViewBag.ProdutoId"></select>*@
						@*<option selected>Quer trocar por qual peça?</option>
						<option value="1">Roupa 1</option>
						<option value="2">Roupa 2</option>
						<option value="3">Roupa 3</option>*@
					</select>
					<button class="btn btn-outline-secondary" type="button">Escolher</button>
				</div>
				<br>
				<a asp-controller="Anuncios" asp-action="SolicitarTroca" asp-route-id="@Model.AnuncioId" type="button" class="btn btn-primary">Enviar pedido</a>
			</div>
			<div>
				<a asp-controller="Home" asp-action="Index" asp- class="btn btn-primary">Voltar</a>
			</div>

		</div>
	</div>	
</section>


@*
						<div>	
	<hr />
	<dl class="row">
		<dt class="col-sm-2">

	@Html.DisplayNameFor(model => model.Usuario)
		</dt>
		<dd class="col-sm-10">
	@Html.DisplayFor(model => model.Usuario.Nome)
		</dd>
       <dt class = "col-sm-2">
		@Html.DisplayNameFor(model => model.Produto)
		</dt>
		<dd class = "col-sm-10">
		@Html.DisplayFor(model => model.Produto.Cor)
		</dd>
		<dt class = "col-sm-2">
		@Html.DisplayNameFor(model => model.Titulo)
		</dt>
		<dd class = "col-sm-10">
		@Html.DisplayFor(model => model.Titulo)
		</dd>
	</dl>
</div>
<div>

	<a asp-action="Index">Back to List</a>
</div>*@