@model IEnumerable<app_babybay.Models.Anuncio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.AnuncioId">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.AnuncioId">Details</a> |
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.AnuncioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
