@model IEnumerable<app_babybay.Models.Anuncio>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Usuario)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Produto)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Titulo)
			</th>
		
			<th>
				Alguem esta querendo trocar?
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			if (User.Identity.Name == item.Usuario.Nome)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Usuario.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Produto.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Titulo)
					</td>
					<td>
						@if(item.InteresseTroca){
							<p>Tem sim,Hoje é seu dia de sorte</p>
						}
						else
						{
							<p>Infelizmente não meu consagrado</p>
						}

					</td>
					<td style="width:700px;">						
						<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.AnuncioId">Details</a> |
						<a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.AnuncioId">Delete</a>
						<a role="button" class="btn btn-primary" asp-controller="Anuncios" asp-action="CurtirAnuncio" asp-route-id="@item.AnuncioId">Favoritar Anuncio</a>
						<a role="button" class="btn btn-primary" asp-controller="Anuncios" asp-action="DescurtirAnuncio" asp-route-id="@item.AnuncioId">Tirar dos favoritos</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
<div>
	 <a class="btn btn-primary" asp-controller="Usuarios" asp-action="Index">Voltar</a>
</div>		
