@model app_babybay.Models.Anuncio

@{
	ViewData["Title"] = "MenuAnuncio";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/style-menu-produto.css">

<div class="div-titulo-cadastro">
	<h2>@Model.Titulo</h2>
</div>

<section class="section-c">
	<div class="section-c__div">
		<article class="article-c">
			<ul class="article-c__ul">
				<div class="sec_tab">
					<img src="../img/casacomegamanaa.jpg" alt="coin">
					<table>
						<tr>
							<th>
								Produto:
							</th>
							<td>
								@Html.DisplayFor(model => model.Produto.Nome)
							</td>
						</tr>
						<tr>
							<th>
								Título anúncio:
							</th>
							<td>
								@Html.DisplayFor(model => model.Titulo)
							</td>
						</tr>
						<tr>
							<th>
								Preço em BabyCoin:
							</th>
							<td>
								@Html.DisplayFor(model => model.Babycoin) BabyCoins
							</td>
						</tr>
						<tr>
							<th>
								Anunciado em:
							</th>
							<td>
								@Html.DisplayFor(model => model.Date)
							</td>
						</tr>
						<tr>
							<th>
								Curtidas no anúncio:
							</th>
							<td>
								@Html.DisplayFor(model => model.ContadorCurtidas) Curtidas
							</td>
						</tr>						
					</table>
				</div>
				<div>
					@if (@Model.InteresseTroca)
					{
						<a class="input__busca--botao-aceitar" asp-controller="Anuncios" asp-action="VisualizarSolicitacao" asp-route-id="@Model.AnuncioId">Ver Interessados</a><br/><br/>
						
						<p>Alguém está interessado na sua roupa, clique no botão acima para ver!</p>
					
					}
					else
					{
						<p>Ainda não há pessoas com interesse no seu anúncio.</p>
					}
					<div>
						
						<a class="input__busca--botao" asp-controller="Anuncios" asp-action="Delete" asp-route-id="@Model.AnuncioId">Excluir</a>
						<a class="input__busca--botao" asp-controller="Usuarios" asp-action="RedirecionarMenu">Voltar</a>

					</div>
				</div>

			</ul>
		</article> <!-- .container-principal__article--dois-->
	</div>
</section>
