@model app_babybay.Models.Anuncio

@{
	ViewData["Title"] = "SalvarPedido";

}

<link rel="stylesheet" href="~/css/style-visualizar-troca.css">
<div class="div-titulo-cadastro">
	<h2>Solicitação de troca</h2>
</div>

<section class="section-c">
	<div class="section-c__div">
		<article class="article-c">
			<div class="div-frase">
				<h3>Parabéns, sua proposta foi enviada para @Model.Usuario.Nome!</h3>
			</div>
			<ul class="article-c__ul">
				<hr>
				<div class=sec_tab>
					<table>
						<tr>
							<th>
								Enviado para:
							</th>
							<td>
								@Html.DisplayFor(model => model.Usuario.Nome)
							</td>
						</tr>
						<tr>
							<th>
								Do Anúncio:
							</th>
							<td>
								@Html.DisplayFor(model => model.Titulo)
							</td>
						</tr>
						<tr>
							<th>
								Roupa Solicitada:
							</th>
							<td>
								@Html.DisplayFor(model => model.Produto.Nome)
							</td>
						</tr>
						<tr>
							<th>
								Valor:
							</th>
							<td>
								@Html.DisplayFor(model => model.Babycoin) BabyCoins
							</td>
						</tr>
						<tr>
							<td>
								<hr />
							</td>
						</tr>
						<tr>
							<th>
								Sua proposta:
							</th>
							@if (Model.PropostaProdutoTroca != null)
							{
								<td>
									@Html.DisplayFor(model => model.PropostaProdutoTroca)
								</td>
							}
							else
							{		
								<td>
									Troca por Babycoin. Valor @Model.Babycoin BC
								</td>								
							}
						</tr>

						<tr>
							<th>
								Date:
							</th>
							<td>
								@Html.DisplayFor(model => model.Date)
							</td>
						</tr>
					</table>
				</div>
				<div class="botoess">

					<a class="input__busca--botao" asp-controller="Usuarios" asp-action="RedirecionarMenu">Voltar para Menu</a>
					<a class="input__busca--botao" asp-controller="Home" asp-action="Index">Buscar Roupas</a>
				</div>
			</ul>
		</article> <!-- .container-principal__article--dois-->
	</div>
</section>

